<footer>
    <div class="footer-container sticky-bottom">
        <div class="footer-socials">
            <i class="fa-brands fa-facebook"></i>&nbsp;
            <i class="fa-brands fa-instagram"></i>&nbsp;
            <i class="fa-brands fa-linkedin"></i>&nbsp;
            <a href="https://github.com/Anonymous777X"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="footer-name">
            &copy; WanderLust Private Limited
        </div>
        <div class="footer-links"><a href="#">Privacy   &nbsp;</a><a href="#">Terms & Conditions</a></div>
    </div>
</footer>