<% layout("/layouts/boilerplate") %>
<style>
    .row{
        text-align: center;
    }
</style>
<body style="vertical-align:middle">
    <div class="alert alert-danger row offset-3 col-6 mt-5" role="alert">
        <div class="alert-heading"><%=message %></div>
      </div>
</body>